<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Smart Health Tracker"
        android:theme="@style/Theme.HealthFit"
        android:icon="@android:drawable/ic_menu_report_image">

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".LogActivity" android:exported="false" />

        <!-- MEMBER 4 ACTIVITIES -->
        <activity android:name=".WorkoutListActivity"
            android:label="Workout Library"
            android:exported="false" />
        <activity android:name=".GoalSettingsActivity"
            android:label="Set Daily Goals"
            android:exported="false" />

    </application>
</manifest>